@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to UCRMS</h1>
    <p class="lead">University Course and Result Management System is a system that 
        can handle various activities of a university. There are several modules those are completed based on the given specification and
    every module is organized in navigation.</p>
</div>